@using SmartUni.Resources
@inject Localizations SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("Home page");
}

<div class="main-background">
    <div class="page-header text-align-center">
        <h1>
            @SharedLocalizer.GetLocalizedHtmlString("Welcome")
        </h1>
    </div><!-- /.page-header -->
    <div class="well">
        <h4 class="green smaller lighter"><i class="ace-icon fa fa-arrow-circle-left"></i>&nbsp; @SharedLocalizer.GetLocalizedHtmlString("Choose from the left panel to start")</h4>
        <span>@SharedLocalizer.GetLocalizedHtmlString("Kindly contact Kah Wai if you face any problem.")</span>
    </div>
    <img class="logo-background" src="~/images/logo.png" />
</div>