
@{
    ViewData["Title"] = "Settings";
}

<h2>Settings</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Link
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Study Level
            </td>
            <td>
                <a asp-controller="StudyLevels" asp-action="Index">Go</a>
            </td>
        </tr>
    </tbody>
    </table>
